*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body{
    background-color: black;
    width: 100%;
} */
.container{
    background-color: black;
    width: 100%;
    font-family:Arial, Helvetica, sans-serif;
}
nav{
    height:90px;
    width: 100%;
    position: relative;
}
.main-nav{
    width: 100%;
    height: 90px;
    position: fixed;
    padding-top: 30px;
    padding-bottom: 10px;
    position: fixed; 
    z-index: 1;
    background-color: black;
}
ul{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    text-decoration: none;

}
ul div{
    display: flex;
}
ul img{
    height: 30px;
    margin-left: 3rem;
}
ul a{
    text-decoration: none;
    margin-top: 5px;
    margin-right: 2rem;
    font-size: 15px;
    color: white;
    margin-right: 2rem;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
}
span{
    color: rgb(252, 3, 157);
    font-weight: bold;
}
.fa-amazon{
    color:rgb(243, 90, 35);
    font-size: 23px;
    margin-left: 10rem;
    margin-top: 5px;
}
.fa-gear{
    color: white;
    font-size: 18px;
     margin-right: 2rem;
     margin-top: 5px;
}
.container-img{
    height: 275px;
    width: 100%;
}
.first-img{
    background-image: url(https://m.media-amazon.com/images/S/sonata-images-prod/ATV_IN_Desktop_FB_LoveAdhura/b15151c4-0911-45e7-ac98-f3987442cb02.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 275px;
}
.second-con{
     color: white;
     padding: 25px;
}
.second-con h3{
    margin-top: 1rem;
    margin-left: 5rem;
}
.first-line{
    display: flex;
    gap: 30px;
    margin-left: 5rem;
    margin-top: 1rem;
}
.first-line img{
    height: 150px;
    width: 250px;
    border-radius: 10px;
}
.first-line img:hover{
    transform: scale(1.30);
    transition: all .5s ease-in;
}
.second-line{
    display: flex;
    gap: 30px;
    margin-left: 5rem;
    margin-top: 1rem;
}
.second-line img{
    height: 150px;
    width: 250px;
    border-radius: 10px;
}
.second-line img:hover{
    transform: scale(1.30);
    transition: all .5s ease-in;
}
.third-line{
    display: flex;
    gap: 30px;
    margin-left: 5rem;
    margin-top: 1rem;
}
.third-line img{
    height: 150px;
    width: 250px;
    border-radius: 10px;
}
.third-line img:hover{
    transform: scale(1.30);
    transition: all .5s ease-in;
}
.fourth-line{
    display: flex;
    gap: 30px;
    margin-left: 5rem;
    margin-top: 1rem;
}
.fourth-line img{
    height: 150px;
    width: 250px;
    border-radius: 10px;
}
.fourth-line img:hover{
    transform: scale(1.30);
    transition: all .5s ease-in;
}
.fifth-line{
    display: flex;
    gap: 30px;
    margin-left: 5rem;
    margin-top: 1rem;
}
.fifth-line img{
    height: 150px;
    width: 250px;
    border-radius: 10px;
}
.fifth-line img:hover{
    transform: scale(1.30);
    transition: all .5s ease-in;
}
.sixth-line{
    display: flex;
    gap: 30px;
    margin-left: 5rem;
    margin-top: 1rem;
}
.sixth-line img{
    height: 150px;
    width: 250px;
    border-radius: 10px;
}
.sixth-line img:hover{
    transform: scale(1.30);
    transition: all .5s ease-in;
}
.seventh-line{
    display: flex;
    gap: 30px;
    margin-left: 5rem;
    margin-top: 1rem;
}
.seventh-line img{
    height: 150px;
    width: 250px;
    border-radius: 10px;
}
.seventh-line img:hover{
    transform: scale(1.30);
    transition: all .5s ease-in;
}
.eight-line{
    display: flex;
    gap: 30px;
    margin-left: 5rem;
    margin-top: 1rem;
}
.eight-line img{
    height: 150px;
    width: 250px;
    border-radius: 10px;
}
.eight-line img:hover{
    transform: scale(1.30);
    transition: all .5s ease-in;
}
.nineth-line{
    display: flex;
    gap: 30px;
    margin-left: 5rem;
    margin-top: 1rem;
}
.nineth-line img{
    height: 150px;
    width: 250px;
    border-radius: 10px;
}
.nineth-line img:hover{
    transform: scale(1.30);
    transition: all .5s ease-in;
}
.tenth-line{
    display: flex;
    gap: 30px;
    margin-left: 5rem;
    margin-top: 1rem;
}
.tenth-line img{
    height: 150px;
    width: 250px;
    border-radius: 10px;
}
.tenth-line img:hover{
    transform: scale(1.30);
    transition: all .5s ease-in;
}
.eleventh-line{
    display: flex;
    gap: 30px;
    margin-left: 5rem;
    margin-top: 1rem;
}
.eleventh-line img{
    height: 150px;
    width: 250px;
    border-radius: 10px;
}
.eleventh-line img:hover{
    transform: scale(1.30);
    transition: all .5s ease-in;
}
.twelth-line{
    display: flex;
    gap: 30px;
    margin-left: 5rem;
    margin-top: 1rem;
}
.twelth-line img{
    height: 150px;
    width: 250px;
    border-radius: 10px;
}
.twelth-line img:hover{
    transform: scale(1.30);
    transition: all .5s ease-in;
}
.thirteenth-line{
    display: flex;
    gap: 30px;
    margin-left: 5rem;
    margin-top: 1rem;
}
.thirteenth-line img{
    height: 150px;
    width: 250px;
    border-radius: 10px;
}
.thirteenth-line img:hover{
    transform: scale(1.30);
    transition: all .5s ease-in;
}
.fouteenth-line{
    display: flex;
    gap: 30px;
    margin-left: 5rem;
    margin-top: 1rem;
}
.fouteenth-line img{
    height: 150px;
    width: 250px;
    border-radius: 10px;
}
.fouteenth-line img:hover{
    transform: scale(1.30);
    transition: all .5s ease-in;
}
.fifteenth-line{
    display: flex;
    gap: 30px;
    margin-left: 5rem;
    margin-top: 1rem;
}
.fifteenth-line img{
    height: 150px;
    width: 250px;
    border-radius: 10px;
}
.fifteenth-line img:hover{
    transform: scale(1.30);
    transition: all .5s ease-in;
}
.sixteenth-line{
    display: flex;
    gap: 30px;
    margin-left: 5rem;
    margin-top: 1rem;
}
.sixteenth-line img{
    height: 150px;
    width: 250px;
    border-radius: 10px;
}
.sixteenth-line img:hover{
    transform: scale(1.30);
    transition: all .5s ease-in;
}
.seventeenth-line{
    display: flex;
    gap: 30px;
    margin-left: 5rem;
    margin-top: 1rem;
}
.seventeenth-line img{
    height: 150px;
    width: 250px;
    border-radius: 10px;
}
.seventeenth-line img:hover{
    transform: scale(1.30);
    transition: all .5s ease-in;
}
.eighteen-line{
    display: flex;
    gap: 30px;
    margin-left: 5rem;
    margin-top: 1rem;
}
.eighteen-line img{
    height: 150px;
    width: 250px;
    border-radius: 10px;
}
.eighteen-line img:hover{
    transform: scale(1.30);
    transition: all .5s ease-in;
}
footer{
    background-color: #0F1516;
}
.last-one{
    display: flex;
    padding: 20px;
    padding-top: 50px;
    height: 200px;
    padding-left: 30px;
}
.right-side{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.amazon{
    height: 30px;
}
.write{
    width: 250px;
    height: 20px;
}
.icon{
    display: flex;
    gap: 5px;
    width: 240px;
    text-align: center;
    height: 50px;
}
.icon p{
    font-size: 10px;
    margin-top: 10px;
    margin-left: 0.4rem;
}
.icon h2{
    font-size: 10px;
}
.first-i{
    background-color: black;
    color: white;
    border-radius: 5px;
    height: 40px;
    width: 115px;
    display: flex;
    border: 1px solid white;
}
.fa-apple{
    font-size: 20px;
    margin-top: 0.6rem;
    margin-left: 0.5rem;
}
.second-i{
    background-color: black;
    color: white;
    border-radius: 5px;
    width: 115px;
    height: 40px;
    display: flex;
    border: 1px solid white;

}
.second-i img{
    height: 30px;
    margin-top: 0.5rem;
}
.left-side{
    display: flex;
    margin-left: 10rem;
    gap: 10px;
}
.left-side img{
    height: 40px;
}
